.Header{
    position: fixed;
    left:10px;
}

.box {
    background-image:url(./image/mogura.png);
    height: 200px;
    width: 200px;
  }

.Cave_Left{
    float: left;
    list-style: none;
    margin-top:0px;
    margin-left: 10px;
}

.Cave_Right{
    float: left;
    list-style: none;
    margin-top:0px;
    margin-left: 300px;
    z-index:0;
}

.StButton{
    margin-top:300px;
    margin-left: 300px;   
}

.Cave{
    position: fixed;
    top:180px;
    z-index:1;
}

.MoveDev{
    position: fixed;
    left:60px;
    top:190px;
    z-index:2;
}

.box_easy{
    width:100px;
    height:100px;
    z-index:2;
    animation: anim 0.5s;
    visibility: hidden;
  }

  .box_nomal{
    width:100px;
    height:100px;
    z-index:2;
    animation: anim 0.2s;
    visibility: hidden;
  }
  
  .box_difficalt{
    width:100px;
    height:100px;
    z-index:2;
    animation: anim 0.05s;
    visibility: hidden;
  }

  @keyframes anim {
    0% {
    transform: translateX(0px);
    visibility: visible;
    z-index:2;
    }
  
    100% {
    transform: translateX(430px);
    }
  }

  .selectAns{
      position:fixed;
      top:350px;
      left:10px
  }